gris_oscuro=#DDD
gris_claro = lighten(gris_oscuro,50%)


.col1
  margin none
  padding top 10px
  padding bottom 10px
  border 1px solid rgba(86,61,124,.2)
  background-color gris_claro

.col2.. .col7
  @extend .col1

p
  font-size 2em


